.footer{
    background: linear-gradient(90deg, #252e48 80%, #211e4e 100% );
}
.text-center{
    align-items: center;
    padding-top: 2.5rem;
}

.fa-linkedin{
    font-size : 2rem;
    color: white;
    font-weight: bolder;
}

.fa-github{
    font-size : 2rem;
    color: white;
    font-weight: bolder;
    margin-left: 50%;
}

.paddingDiv{
    margin-bottom: 1.5rem;
}

.bottom{
    text-align: right;
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
}